#################################################
# Operating System
#################################################

.DS_Store
Thumbs.db

#################################################
# IDE
#################################################

.vscode/
.idea/
*.user
*.suo

#################################################
# Environment
#################################################

.env
.env.*
!.env.example

#################################################
# Node.js
#################################################

**/node_modules/
**/.next/
**/dist/
**/build/

#################################################
# ASP.NET
#################################################

**/bin/
**/obj/

#################################################
# Logs
#################################################

logs/
*.log

#################################################
# Backup
#################################################

backup/
database-backup/

#################################################
# Runtime
#################################################

*.pid

#################################################
# Temporary
#################################################

tmp/
temp/

#################################################
# TypeScript
#################################################

*.tsbuildinfo

#################################################
# Docker
#################################################

docker/**/*.local

#################################################
# Git
#################################################

.git

#################################################
# Runtime Data
#################################################

/data/

#################################################
# Docker Secrets
#################################################

docker/.env
docker/backend-db.env

#################################################
# Portainer
#################################################

**/portainer.db
**/*.key
